<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://C:/lombok.jar!/" />
      <root url="jar://C:/spring的jar包/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
      <root url="jar://C:/spring的jar包/com.springsource.org.apache.log4j-1.2.15.jar!/" />
      <root url="jar://C:/spring的jar包/spring-aop-4.2.4.RELEASE.jar!/" />
      <root url="jar://C:/spring的jar包/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://C:/spring的jar包/spring-context-4.2.4.RELEASE.jar!/" />
      <root url="jar://C:/spring的jar包/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://C:/spring的jar包/spring-expression-4.2.4.RELEASE.jar!/" />
      <root url="jar://C:/spring的jar包/spring-test-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>